/* Colors
Blue - rgb(39, 54, 70)
Orange - rgb(222, 147, 59) 
https://learn.mckimmoncenter.ncsu.edu/search/publicCourseSearchDetails.do?method=load&courseId=7760975
*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Lato, Raleway, sans-serif;
}

a:link {
  color: white; 
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.item1 { grid-area: header; }
.item2 { grid-area: banner; }
.item3 { grid-area: nav; }
.item4 { grid-area: about; }
.item5 { grid-area: bio; }
.item6 { grid-area: workshop; }
.item7 { grid-area: appearances; }
.item8 { grid-area: row; }
.item9 { grid-area: testimonials; }
.item10 { grid-area: articles; }

/* screen size smaller than 420px */

.wrapper {
  display: grid;
  margin: auto;
  grid-template-areas:
    'header'
    'banner'
    'nav'
    'about'
    'bio'
    'workshop'
    'appearances'
    'row'
    'testimonials'
    'articles';
}

li {
  display: none;
}

.articles {
  border-bottom: 2px solid grey;
  margin: 10px;
}

.bannerimg {
  width: 100%;
  padding: 0px;
}

.border {
  border: 3px solid grey;
  padding: 5px;
  margin: 5px;
}

.content {
  font-size: 1.0em;
  line-height: 1.5;
  text-align: center;
}

.date {
  font-size: 1.5em;
  font-weight: bold; 
  line-height: 1.5;
  text-align: center;
}

.logosm {
  float: left;
  height: 75px;
}

.navicon {
  float: right;
  width: 75px;
  padding: 20px;
}

.rowimg {
  width: 75%;
  padding: 15px;
}

.title {
  font-size: 1.2em;
  font-weight: bold; 
  line-height: 1.5;
  text-align: center;
}

.testimonials {
  font-size: 1.0em;
  line-height: 1.5;
  text-align: left;
  margin: 5px;
}

.wscomment {
  background-color: rgb(222, 147, 59);
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 1.0em;
  line-height: 1.2;
  text-align: right;
}

.wscontent {
  font-size: 1.0em;
  line-height: 1.5;
  text-align: left;
  margin: 5px;
}

.wsimg {
  width: 50%;
  padding: 15px 3px 0px 3px;
}

.wstitle {
  font-size: 1.2em;
  font-weight: bold; 
  line-height: 1.5;
  text-align: left;
  margin: 5px;
}

.item1 {
  background-color: rgb(39, 54, 70);
  color: white;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 3px;
}

.item2 {
  background-color: rgb(222, 147, 59);
}

.item3 {
  background-color: rgb(222, 147, 59);
  padding: 5px;
}

.item4 {
  padding: 7px;
}

.item5 {
  background-color: rgb(222, 147, 59);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.item6 {
  padding: 10px;
  text-align: center;
}

.item7 {
  padding: 10px;
  text-align: center;
}

.item8 {
  background-color: rgb(39, 54, 70);
  text-align: center;
}

.item10 {
  text-align: center;
}

/* screen larger than 420px */

@media only screen and (min-width: 420px) {
  .wrapper {
    display: grid;
    margin: auto;
    grid-template-areas:
      'header''header'
      'banner''banner'
      'nav''nav'
      'about''about'
      'bio''bio'
      'workshop''workshop'
      'appearances''apperances'
      'row''row'
      'testimonials''testimonials'
      'articles''articles';
  }

  .articles {
    display: inline-block;
    border-bottom: none;
  }

  li {
    display: inline-block;
    color: white;
    padding: 25px;
    float: right;
    vertical-align: middle;
  }

  .logosm {
    padding-left: 5px;
    height: 75px;
  }

  .navicon {
    display: none;
  }

  .wscomment {
    font-size: 1.3em;
    line-height: 1.25;
    padding: 10px;
  }

  .item3 {
    background-color: rgb(222, 147, 59);
  }
}